* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

.card {
    border-radius: 10px;
    height: 100%;
    width: 250px;
    background-color: #333333;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.playerName {
    position: absolute;
    top: 25px !important;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.cardId {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px !important;
    background-color: white;
    text-align: center;
    width: 90%;
}

.cardName {
    color: white;
}

.cardList {
    background-color: red !important;
    height: 100%;
}

.section1 {
    padding-top: 15px;
    padding-bottom: 15px;
    height: 30vh;
}

.section2 {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    height: 60vh;
}

.textBoxes {
    text-align: center;
}

.textBoxDiv input {
    text-align: center;
    width: 15%;
}