* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

.card {
    border-radius: 10px;
    height: 100%;
    width: 250px;
    background-color: #333333;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.playerName {
    position: absolute;
    top: 25px !important;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.cardId {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px !important;
    background-color: white;
    text-align: center;
    width: 90%;
}

.cardName {
    color: white;
}

.cardList {
    background-color: red !important;
    height: 100%;
}

.section1 {
    padding-top: 15px;
    padding-bottom: 15px;
    height: 30vh;
}

.section2 {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    height: 60vh;
}

.textBoxes {
    text-align: center;
}

.textBoxDiv input {
    text-align: center;
    width: 15%;
}

.nameInput {
    margin-bottom: 15px;
    text-align: center;
}

.addCardDiv {
    text-align: right;
    margin-right: 25px;
}

.addCardDiv button {
    background-color: red !important;
    padding: 5px;
    font-weight: bold;
    margin-top: 20px;
    border: none;
}

#listDiv {
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    max-height: 220px !important;
    overflow-y: scroll;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

/* For WebKit browsers (Chrome, Safari) */
#listDiv::-webkit-scrollbar {
    display: none; /* Hide the scroll bar */
}

.listElement {
    background-color: white;
    padding: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

#listDiv p {
    color: black;
}

.cardButtons {
    display: flex;
    align-items: center;
}

.cardIcon {
    margin-left: 5px;
    margin-right: 5px;
    font-weight: 800 !important;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.2s;
}

.cardIcon:hover {
    opacity: 1.0;
    transition: 0.2s;
}

#checkIcon {
    color: green;
}

#clearIcon {
    color: red;
}

.settingsIcon {
    color: white;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    transition: 0.2s;
    opacity: 0.7;
}

.settingsIcon:hover {
    transition: 0.2s;
    opacity: 1.0;
}