.hotkey-element {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: grey;
    cursor: pointer;
}

.hotkey-selected {
    border: 5px solid black;
}